* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center !important;
}
.center-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    background-color: #252b3b;
    text-align: center;
    color: #414c69;
}

.logo {
    width: 200px;
    margin: 1px auto;
    padding: 8px;
    border-radius: 30px;
    color: #5d6169;
    text-shadow: none;
}
.logo:hover {
    background-color: #30384d;
    transition: 0.5s;
    color: #ffffff;
    text-shadow: none;
}

.navi {
    position: sticky;
    top: 0px;
}

.form {
    width: 60%;
    margin: 20px auto;
}

.remove_field {
    position: relative;
}

.rain {
    position: absolute;
    top: -47px;
    right: -691px;
    height: 25px;
}

.svg {
    fill: tomato;
}
.cn {
    position: absolute;
    top: 7px;
    right: -10px;
    height: 25px;
}

.center-footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}