* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center !important;
}
.center-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    background-color: #252b3b;
    text-align: center;
    color: #414c69;
}

.logo {
    width: 200px;
    margin: 1px auto;
    padding: 8px;
    border-radius: 30px;
    color: #5d6169;
    text-shadow: none;
}
.logo:hover {
    background-color: #30384d;
    transition: 0.5s;
    color: #ffffff;
    text-shadow: none;
}

.navi {
    position: sticky;
    top: 0px;
    z-index: 999;
}

.form {
    width: 60%;
    margin: 20px auto;
}

.remove_field {
    position: relative;
}

.seperator {
    height: 50px;
}

.rain {
    position: absolute;
    font-size: 32px;
    top: -58px;
    /* right: -691px; */
    left: 671px;
}

.cn {
    position: absolute;
    font-size: 32px;
    top: -5px;
    /* right: -10px; */
    left: -10px;
    height: 38px;
}
.form-group {
    position: relative;
}
button {
    color: #555;
    background: none;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
}

.add_cn_button, .add_rain_button {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 32px;
    color: #5cb85c;
    font-weight: bold;
}

.center-footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reference div {
    display: flex;
    flex-direction: column;
}